.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:rgb(196, 227, 227);
}
.hero-banner{
    flex: 1;
    align-items: center;
}
.hero-image img{
    
    width: 100%;
}
.hero-image{
    flex: 1;
    align-items: center;
}