.card-container{
    display: flex;
    gap: 50px;
    justify-content:center;
    width:100%;
    h3{
        color: black;
    }
    
}
.card1{
    background-color: antiquewhite;
    border-radius: 5px;
    box-shadow: 2px 2px brown;
    width: 200px;
    position: relative;
    border: 1px solid black;
    text-align: center;
    
}
.badge{
    position: absolute; 
    border: 1px solid white;
    border-radius: 2px;
    margin-right: 2px;
    background-color: rgb(105, 224, 105);
    top: auto;
    left: -150px;
    z-index: 10px;
}
.card2{
    background-color: antiquewhite;
    width: 200px;
    box-shadow: 2px 2px brown;
    position: relative;
    border: 1px solid black;
    text-align: center;
    border-radius: 5px;
}